body {
    background-color: lightgreen;
  }
  h2{ 
    font-family: 'Mynerve', cursive;
    font-family: 'Smokum', cursive;
    font-family: 'Source Code Pro', monospace;  
    color:rgb(47, 154, 255);
    text-align: center;
    font-size: 70px;
    border: 1px solid rgb(128, 128, 128);
    background-color:white;
  }
    ul{
      font-family: 'Mynerve', cursive;
      font-family: 'Smokum', cursive;
      font-family: 'Source Code Pro', monospace;  
      margin: 20px;
    color: black;
    font-size: x-large;
  }